@mixin transistion($property, $duration){
    transition-property: $property;
    transition-duration: $duration;
  };

@mixin underline-transistion($width){
    &::after {
        content:'';
        display: block;
        bottom: 0;
        left: 0;
        left: 0;
        height: .2em;
        background-color: $accent-color;
        transform: scaleX(0);
        @include transistion(transform, .2s);
      }
      &:hover{
        &::after{
          transform: scaleX($width);
        }
      }
};

